.boxf {
    color: blue;
    text-align: center;
    margin-left: 400px;
}

.head1 {
    color: blue;
    text-align: center;
}

.boxa {
    align-items: center;
    margin-left: 150px;
}